<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Current Notes</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="/stylesheets/edit.css" />
  <style>
    body {
      background-color: aquamarine;
    }
  </style>
</head>

<body>
  <h1 style="text-align: center;">Update Note</h1>
  <form action="/products/<%=product._id%>?_method=PUT" method="POST" id="data">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" name="title" id="title" placeholder="product title"
        value="<%=product.title%>">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control form-control-lg" id="description" name="description"
        placeholder="description" value="<%= product.description %>">
    </div>
    <button class="btn btn-success">Submit</button>
  </form>


  <a href="/products/<%=product._id%>">Cancel</a>



  <script src="/javascripts/main.js"></script>

</body>

</html>
